body{
    margin-top: 0;
    background-image: url('../../images/ukraine-3387004_1920.jpg');
    background-position: right top;
    background-size: auto;
    background-attachment: fixed;
}

.head{
    margin-top: 0;
    margin-left: -12px;
    margin-right: -12px;
    background-color: rgba(255, 255, 255, 0.75);
}

ul {
    vertical-align: text-top;
    display: inline-block;
    list-style: none;
    width: 250px;
}

img{
    margin-top: 6px;
    margin-left: 24px;
}

.notification_button{
    position: absolute;
    top: 30px;
    width: 36%;
    height: 48px;
    background-color: #FFFFFF;
    border-bottom-width: 0;
    border-color: #757575;
    border-style: solid;
    color: #757575;
    font-size: larger;
    font-weight: bold;
}

#all_notifications{
    left: 10%;
    color: #00C597;
    border-color: #00C597;
    border-top-left-radius: 10px;
}

#notification_form{
    left: 45.6%;
    border-top-right-radius: 10px;
}

.round_button{
    position: absolute;
    top: 14px;
    width: 48px;
    height: 48px;
    background: #FFFFFF;
    border-radius: 60%;
    border-bottom-width: 2px;
    border-style: solid;
}

#notifications_button{
    left: 85%;
    background-image: url("../../images/green_notification.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 55% 55%;
    border-color: #00C597;
}

#complaints_button{
    left: 92%;
    background-image: url("../../images/gray_complaints.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 68% 68%;
    border-color: #757575;
}

.line{
    position: absolute;
    top: 76px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color:#00C597;
    border: 0 none;
    margin: 0 0 20px;
}

#new_notification{
    display: grid;
    width: 400px;
    margin: 24px;
    padding: 16px;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(155, 155, 155, 0.46);
    border-radius: 20px;
    background-color: #FFFFFF;
}

input{
    border: 1px solid #c5c5c5;
    padding: 2px;
    border-radius: 4px;
    color: #757575;
}

p, div{
    margin: 8px;
    color: #555555;
    text-align: start;
    font-size: medium;
    font-family: sans-serif;
}

br{
    display: inline;
    margin: 2px;
}

#submit{
    width: 48px;
    height: 48px;
    background: #00C597 url("../../images/submit-send.png") no-repeat center;
    background-size: 68% 68%;
    border-radius: 60%;
    border: 0;
    position: relative;
    left: 340px;
    margin-bottom: 12px;
}

.notification {
    display: grid;
    height: content-box;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(155, 155, 155, 0.46);
    border-radius: 20px;
    background-color: #FFFFFF;
    margin: 24px;
    padding: 12px;
}

h3{
    font-weight: bold;
    align-self: center;
    color: #555555;
    font-family: sans-serif;
}

#dates_all, #city_all, #streets_all{
    display: inline-flex;
}

input{
    font-size: medium;
}

#icon_all{
    width: 24px;
    height: 24px;
    margin: 4px;
}

#street_complex_all, #city_complex_all, #dates_complex_all{
    margin: 0;
    padding: 0;
}