body{
    margin-top: 0;
    background-image: url('../../images/ukraine-3387004_1920.jpg');
    background-position: right top;
    background-size: auto;
    background-attachment: fixed;
}

.head{
    height: 76px;
    margin-top: 0;
    margin-left: -12px;
    margin-right: -12px;
    background-color: rgba(255, 255, 255, 0.75);
}

ul {
    vertical-align: text-top;
    display: inline-block;
    list-style: none;
    width: 250px;
}

#logo{
    width: 64px;
    height: 64px;
    margin: 8px 16px 0 18px;
}

.notification_button{
    position: absolute;
    top: 30px;
    width: 36%;
    height: 48px;
    background-color: #FFFFFF;
    border-bottom-width: 0;
    border-color: #757575;
    border-style: solid;
    color: #757575;
    font-size: larger;
    font-weight: bold;
}

#all_notifications{
    left: 10%;
    border-top-left-radius: 10px;
}

#notification_form{
    left: 45.6%;
    color: #00C597;
    border-color: #00C597;
    border-top-right-radius: 10px;
}

.round_button{
    position: absolute;
    top: 14px;
    width: 48px;
    height: 48px;
    background: #FFFFFF;
    border-radius: 60%;
    border-bottom-width: 2px;
    border-style: solid;
}

#notifications_button{
    left: 85%;
    background-image: url("../../images/green_notification.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 55% 55%;
    border-color: #00C597;
}

#complaints_button{
    left: 92%;
    background-image: url("../../images/gray_complaints.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 68% 68%;
    border-color: #757575;
}

.line{
    position: absolute;
    top: 76px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color:#00C597;
    border: 0 none;
    margin: 0 0 20px;
}

#new_notification{
    position: absolute;
    left: 320px;
    display: grid;
    width: 400px;
    margin: 40px;
    padding: 16px;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(155, 155, 155, 0.46);
    border-radius: 20px;
    background-color: #FFFFFF;
}

#notifications{
    display: grid;
    grid-template-columns: repeat(2,560px);
}

input{
    width: 64px;
    margin: 8px 8px 8px 16px;
    border-radius: 0;
    border-top: 0;
    border-right: 0;
    border-left: 0;
}

#type{
    text-align: center;
    font-weight: bold;
    font-size: larger;
}

select{
    text-align: center;
    color: #757575;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-radius: 0;
    font-size: large;
}

#from_date, #to_date{
    width: 140px;
}

#from_hour, #to_hour{
    width: 80px;
}

p{
    font-size: small;
    color: #757575;
    font-weight: bold;
}

.icon{
    margin-top: 0;
    margin-right: 8px;
    margin-left: 12px;
}

#calendar{
    margin-top: 16px;
    margin-right: 8px;
    margin-left: 12px;
}

#dates, #city, #streets{
    display: block;
}

#dates_complex, #city_complex, #street_complex{
    display: inline-flex;
}

.long_input{
    margin-left: 4px;
    width: 320px;
}

#end_date:first-child{
    margin-right: 24px;
}

#houses_range{
    display: inline-flex;
}

.class_input{
    width: 64px;
    margin-left: 4px;
}

#submit{
    position:absolute;
    top:312px;
    left:370px;
}

#description{
    width: 360px;
    height: fit-content;
}
