body
{
    background-image: url('../../images/ukraine-3387004_1920.jpg');
    background-position: right top;
    background-size: auto;
    border-bottom-width: medium;
    border-color: #FFFFFF;
}

#card_log{
    background: white;
    position: fixed;
    right: 0;
    top: 30%;
    width: 300px;
    height: 226px;
    border-radius: 20px;
    margin-right: 180px;
    padding: 4px;
}

#log-in{
    display: inline-flex;
    color: #FFFFFF;
    padding: 10px 10px 0 10px;
    height: 60px;
}

img{
    margin-left: 4px;
}

p{
    color: #757575;
    width: 180px;
    height: 30px;
    font-weight: bold;
    font-family: Roboto, serif;
    font-size: 26px;
    text-align: center;
    margin-top: 14px;
}

#registration input{
    display: block;
    color: #757575;
    position: center;
    margin-top: 12px;
    margin-right: 14px;
    margin-left: 14px;
    margin-bottom: 12px;
}

input{
    width: 230px;
    height: 20px;
    color: #757575;
    font-weight: bold;
    font-size: 16px ;
    border: #FFFFFF 0;
    border-bottom: 1px solid #c5c5c5;
}

#login_div{
    display: inline-flex;
}

#user_icon{
    width: 24px;
    height: 24px;
    padding-top: 12px;
    padding-left: 8px;
    padding-bottom: 10px;
}

#password_div{
    display: inline-flex;
}

#password_icon{
    width: 24px;
    height: 24px;
    padding-top: 12px;
    padding-left: 8px;
    padding-bottom: 10px;
}

button{
    background-color: #FFFFFF;
    width: 180px;
    height: 36px;
    border-radius: 20px;
    border: 1px solid #c5c5c5;
    margin-top: 6px;
    margin-right: 60px;
    margin-left: 60px;
    margin-bottom: 20px;
    position: center;
    color: #757575;
    font-weight: bold;
    font-size: 18px ;
    box-shadow: 1px 1px 0 #d7dadc;
}
