.in_progress_complaint{
    display: grid;
    width: 400px;
    margin: 30px 30px 30px 80px;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(155, 155, 155, 0.46);
    border-radius: 20px;
    background-color: #FFFFFF;
}

.complaint_head {
    display: inline-flex;
    position: static;
    right: 190px;
    margin: 8px;
    text-align: start;
    color: #555555;
    font-size: medium;
    font-family: sans-serif;
}

.in_progress_complaint div div {
    display: block;
    float: none;
    margin: 10px 12px 2px 4px;
}

.complaint_image {
    shape-outside: content-box;
    height: 140px;
    width: 35%;
    margin: 12px;
    border-radius: 20px;
    border-color: rgba(240, 240, 240, 0.46);
}
.in_progress_complaint_description{
    width: 90%;
    margin-left: 20px;
    margin-bottom: 0;
    text-align: start;
    color: #555555;
    font-size: medium;
    font-family: sans-serif;
}

.complaint_footer{
    display: inline-flex;
    padding-left: 16px;
    margin: 0 0 0 4px;
    text-align: start;
    color: #555555;
    font-size: medium;
    font-family: sans-serif;
}

.input_feedback{
    width: 352px;
    margin-top: 8px;
    margin-bottom: 16px;
}

.solve{
    width: 48px;
    height: 48px;
    background: #00C597 url("../../images/checked.png") no-repeat center;
    background-size: 68% 68%;
    border-radius: 60%;
    border: 0;
    position: relative;
    top: 64px;
    left: -16px;
}

.solve_complex{
    display: flex;
    margin-top: 0;
}

.input_feedback{
    width: 302px;
    margin-right: 16px;
    margin-bottom: 20px;
    border-top-width: 0;
    border-left: 0;
    border-right: 0;
    border-radius: 0;
}

.complaint_title{
    font-weight: bold;
    font-size: large;
    color: #555555;
}

.complaint_company{
    font-weight: bold;
}