body{
    margin-top: 0;
    background-image: url('../../images/ukraine-3387004_1920.jpg');
    background-position: right top;
    background-size: auto;
    background-attachment: fixed;
}

.head{
  margin-top: 0;
  margin-left: -12px;
  margin-right: -12px;
  background-color: rgba(255, 255, 255, 0.75);
}

ul {
    vertical-align: text-top;
    display: inline-block;
    list-style: none;
    width: 250px;
}

img{
    margin-top: 6px;
    margin-left: 24px;
    margin-bottom: 2px
}

.update_button{
    position: absolute;
    top: 30px;
    width: 18%;
    height: 48px;
    background-color: #FFFFFF;
    border-bottom-width: 0;
    border-color: #757575;
    border-style: solid;
    color: #757575;
    font-size: larger;
    font-weight: bold;
}

#update_sent{
    left: 10%;
    color: #00C597;
    border-color: #00C597;
    border-top-left-radius: 10px;
}

#update_in_progress{
    left: 27.8%;
}

#update_solved{
    left: 45.6%;
}

#update_rejected{
    left: 63%;
    border-top-right-radius: 10px;
}

.round_button{
    position: absolute;
    top: 14px;
    width: 48px;
    height: 48px;
    background: #FFFFFF;
    border-radius: 60%;
    border-bottom-width: 2px;
    border-style: solid;
}

#notifications_button{
    left: 85%;
    background-image: url("../../images/gray_notification.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 55% 55%;
    border-color: #757575;
}

#complaints_button{
    left: 92%;
    background-image: url("../../images/green_complaints.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 68% 68%;
    border-color: #00C597;
}

.line{
    position: absolute;
    top: 76px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color:#00C597;
    border: 0 none;
    margin: 0 0 20px;
}

input{
    border: 1px solid #c5c5c5;
    padding: 4px;
    margin: 4px;
    border-radius: 4px;
    color: #757575;
}

#complaints{
    display: grid;
    width: 70%;
    grid-template-columns: 560px 560px;

}