.rejected_complaint{
    display: grid;
    width: 400px;
    margin-left: 80px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-right: 30px;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(155, 155, 155, 0.46);
    border-radius: 20px;
    background-color: #FFFFFF;
}

.complaint_head {
    display: inline-flex;
    position: static;
    right: 190px;
    margin: 8px;
    text-align: start;
    color: #555555;
    font-size: medium;
    font-family: sans-serif;
}

.rejected_complaint div div {
    display: block;
    float: none;
    margin-top: 8px;
    margin-right: 12px;
    margin-left: 4px;
    margin-bottom: 0;
}

.complaint_image {
    shape-outside: content-box;
    height: 140px;
    width: 35%;
    margin: 12px;
    border-radius: 20px;
    border-color: rgba(240, 240, 240, 0.46);
}
.complaint_description{
    margin-left: 20px;
    margin-bottom: 12px;
    text-align: start;
    color: #555555;
    font-size: medium;
    font-family: sans-serif;
}

.complaint_footer{
    margin-bottom: 16px;
}
