body{
    margin-top: 0;
}

.sent_complaint{
    width: 400px;
    margin: 30px 30px 30px 80px;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(155, 155, 155, 0.46);
    border-radius: 20px;
    background-color: #FFFFFF;
}

.complaint_head {
    display: inline-flex;
    position: static;
    right: 190px;
    margin: 8px;
    text-align: start;
    color: #555555;
    font-size: medium;
    font-family: sans-serif;
}

.sent_complaint div div {
    display: block;
    float: none;
    width: 156px;
    margin: 8px 12px 0 8px;
}

.complaint_image {
    shape-outside: content-box;
    height: 140px;
    width: 35%;
    margin: 12px;
    border-radius: 20px;
    border-color: rgba(240, 240, 240, 0.46);
}
.complaint_description{
    margin-left: 20px;
    margin-bottom: 8px;
    text-align: start;
    color: #555555;
    font-size: medium;
    font-family: sans-serif;
}

.input_company, .timeout{
    width: 302px;
    margin-left: 12px;
    margin-right: 16px;
    margin-bottom: 4px;
    border-top-width: 0;
    border-left: 0;
    border-right: 0;
    border-radius: 0;
}

div.company_timeout{
    width: 100%;
    margin-left: 16px;
}

.submit{
    position: relative;
    bottom: -24px;
    left: 342px;
    width: 48px;
    height: 48px;
    background: #00C597 url("../../images/submit-send.png") no-repeat center;
    background-size: 68% 68%;
    border-radius: 60%;
    border: 0;
    margin-bottom: 16px;
}

.reject{
    width: 48px;
    height: 48px;
    background: #FF9F1C url("../../images/delete.png") no-repeat center;
    background-size: 68% 68%;
    border-radius: 60%;
    border: 0;
    position: inherit;
}

.submit_complex{
    width: 100%;
    display: grid;
    grid-template-columns: 0 0;
    margin-bottom: 16px;
}

.complaint_title{
    font-style: normal;
}

#complaint_title_sent{
    width: 176px;
    font-weight: bold;
    font-size: medium;
    color: #555555;
    margin-left: 8px;
    margin-top: 0;
}